<div class="container-fluid shadow p-3 mt-2 mb-5 bg-body-tertiary rounded">
    <h4 style="text-align: center;">Panel de Clima Espacial</h4>

    <!-- 1. Reemplazamos el falso ngFor por un @if para desenvolver el filtro activo -->
    @if (currentFilter$ | async; as activeFilter) {
    <div class="container mt-4 d-flex gap-2 mb-2">
        <button type="button" class="btn btn-outline-primary col-2" [class.active]="activeFilter === 'TODO'" (click)="onFilterChange('TODO')">Ver Todos</button>
        <button type="button" class="btn btn-outline-secondary" [class.active]="activeFilter === 'BAJO'" (click)="onFilterChange('BAJO')">Bajo</button>
        <button type="button" class="btn btn-outline-secondary" [class.active]="activeFilter === 'MEDIO'" (click)="onFilterChange('MEDIO')">Medio</button>
        <button type="button" class="btn btn-outline-secondary" [class.active]="activeFilter === 'ALTO'" (click)="onFilterChange('ALTO')">Alto</button>
        <button type="button" class="btn btn-outline-secondary" [class.active]="activeFilter === 'CRITICO'" (click)="onFilterChange('CRITICO')">Crítico</button>

    </div>
    }
    <!-- <div class="container my-4"> -->
    <!-- @if directo -->
    @if (!(loading$ | async)) {
    <div class="row g-3">
        @for (sat of (telemetria$ | async); track sat.idSatelite) {
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card m-2  ">
                <h5 style="text-align: center;">Satelite: {{ sat.idSatelite }}</h5>
                <div class=" p-2">
                    <p>Viento Solar: <strong>{{ sat.velVientoSolar }} km/s</strong></p>
                    <p>Probabilidad de Llamarada solar: <strong>{{ sat.probLlamaradaSolar }}%</strong></p>
                    <p> Ultima actualizacion : {{sat.ultimaActualizacion}}</p>
                    <div class="container" style="display: flex; justify-content: flex-end;">
                        <span class="badge mb-2 p-2" [ngClass]="{'bg-success': sat.nivelRadiacion === 'BAJO', 'bg-warning': sat.nivelRadiacion === 'MEDIO','bg-danger': sat.nivelRadiacion === 'ALTO' ||  sat.nivelRadiacion === 'CRITICO'}">
                 Radiación: {{ sat.nivelRadiacion }}
                </span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <!-- </div> -->
    }@else{
    <div class="container d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    }

</div>
