.pantalla {
    /* background-color: bisque; */
}

button {
    background-color: #2563eb;
    color: white;
    padding: 12px;
    border-radius: 8px;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #1d4ed8;
    transform: translate(-1px);
}

p {
    text-align: center;
}