<div class="container-fluid shadow p-3 mt-4 bg-body-tertiary rounded" style="padding: 20px; font-family: sans-serif;  margin: 0 auto;">
    <h2 style="text-align: center; font-weight: bold;">Mesa de soporte Tecnico</h2>


    <div *ngIf="cargando$ | async" style="color: #666; font-style: italic; margin-bottom: 15px;">
        Cargando lista de tickets locales...
    </div>

    <!-- FORMULARIO -->
    <div class="" style="background: #dde0e4; padding: 15px; border-radius: 8px; margin-bottom: 20px; ">
        <h3 style="padding-left: 1rem;">Nuevo ticket de incidencia</h3>
        <form class="d-flex flex-column h-100 p-3" action="" [formGroup]="miForm" (ngSubmit)="guardarTicket()">
            <div class="mb-3 ">
                <input type="text" formControlName="inputTitulo" placeholder="Titulo corto" style="width: 100%; margin-bottom: 10px; padding: 6px;" [class.is-invalid]="miForm.get('inputTitulo')?.invalid && miForm.get('inputTitulo')?.touched">
                <div class="invalid-feedback">
                    El título es obligatorio.
                </div>
            </div>

            <div class="mb-3 ">
                <textarea formControlName="inputDescripcion" placeholder="Describe el problema técnico..." style="width: 100%; margin-bottom: 10px; padding: 6px;" [class.is-invalid]="miForm.get('inputDescripcion')?.invalid && miForm.get('inputDescripcion')?.touched"
                    [class.is-invalid]="miForm.get('inputTextarea')?.invalid && miForm.get('inputDescripcion')?.touched"></textarea>
                <div class="invalid-feedback">
                    La descripción es obligatoria.
                </div>
            </div>
            <div class="d-flex align-items-center mb-2">
                <label for="categoria">Categoria: </label>
                <select id="categoria" style="background-color: rgb(236, 174, 48); border-radius: 5px;" class=" text-dark m-2 p-2" formControlName="inputCategoria">
             <option value="" disabled selected>Seleccione...</option>
              <option value="Software">Software</option>
              <option value="Hardware">Hardware</option>
              <option value="Redes"> Redes</option>
             </select>

                <label for="prioridad">Prioridad: </label>
                <select id="prioridad" style="background-color: rgb(236, 174, 48); border-radius: 5px;" class=" text-dark m-2 p-2" formControlName="inputPrioridad">
               <option value="" disabled selected>Seleccione...</option>
              <option value="Baja">Baja</option>
              <option value="Media">Media</option>
              <option value="Alta">Alta</option>
            </select>


                <button type="submit" class="btn btn-outline-primary ms-auto mt-auto">
                Registrar Ticket
                </button>
            </div>

        </form>
    </div>

    <!-- FILTROS -->
    <div class="mb-4 d-flex justify-content-end">
        <!-- <strong class="w-100">Filtrar por: </strong> -->
        <button class="btn btn-outline-success" *ngFor="let cat of ['Todos', 'Software', 'Hardware', 'Redes']" (click)="aplicarFiltro(cat)" [style.font-weight]="(filtroActual$ | async) === cat ? 'bold' : 'normal' " style="margin-right: 5px; padding: 5px 10px;">
          {{cat}}
      </button>
    </div>


    <!-- LISTADO -->
    @if (!(cargando$ | async)){
    <h3>Lista de Incidentes registrados</h3>
    <p *ngIf="!(tickets$ | async)?.length"> No hay ningun ticket en esta categoria</p>

    <div *ngFor="let tck of tickets$ | async" style="border: 1px solid #ccc; padding: 15px; margin-bottom: 10px; border-radius: 6px; position: relative;">
        <span style="position: absolute; right: 15px; top: 15px; background: #eee; padding: 3px 8px; border-radius: 4px; font-size: 12px;">{{ tck.id }}</span>
        <h4>{{ tck.titulo }} <span style="color: #dc3545; font-size: 13px;">({{ tck.prioridad }} Prioridad)</span></h4>
        <p style="color: #555;">{{ tck.descripcion }}</p>
        <p><small>Categoría: <strong>{{ tck.categoria }}</strong></small></p>

        <label>Estado actual: </label>
        <select class="bagde bg-primary m-2 p-2 rounded text-white text-center" [value]="tck.estado" (change)="actualizarEstado(tck.id, $event)">
        <option value="Abierto">Abierto</option>
        <option value="En proceso">En Proceso</option>
        <option value="Resuelto">Resuelto</option>
      </select>
    </div>

    }@else{
    <div class="container d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    }


</div>
